/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Variables CSS*/
:root{
    --header-height: 3rem;
    --font-semi: 600;
}
/*Colors*/
:root{
    --first-color: #ff2323;
    --white-color: #ffffff;
    --dark-color: #2A3B47;
    --text-color: #697477;

}

/*Font*/
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 8.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.815rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.25rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/*Margins*/
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;  
}

/*z index*/
:root{
    --z-fixed: 100;
}

/*Base*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*Class CSS*/
.section{
    padding: 3rem 0;
}
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/*Layout*/
.bg-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/*Nav*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.3);
        transition: 0.5s;
        backdrop-filter: blur(10px);
    }
}

.nav_item{
    margin-bottom: var(--mb-4);
}
.nav_link{
    position: relative;
    color: var(--dark-color);
}
.nav_link:hover{
    color: var(--first-color);
}
.nav_logo{
    font-size: 1.5rem;
    color: var(--white-color);
}
.nav_toggle{
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Show Menu*/
.show{
    right: 0;
}

/*Active Menu*/
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*Home*/
.home{
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;
}
.home_container{
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}
.home_title{
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: 0.8;
}
.home_title span{
    text-shadow: 0 20px 25px rgba(0,0,0,0.5);
}
.home_scroll{
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}
.home_scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
    font-size: 1.2rem;
}
.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
}

/*About*/
.about_container{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.about_img{
    display: flex;
    justify-content: center;
    padding-top: 0;
    width: 120px;
    height: 120px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}
.about_img img{
    width: 150px;
}
.about_subtitle{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.about_text{
    margin-bottom: var(--mb-4);
}
.about_profession{
    display: block;
    margin-bottom: var(--mb-4);
}
.about_social-icon{
    font-size: 1.4rem;
    margin: 0 var(--mb-1)
}
.about_social-icon:hover{
    color: var(--first-color);
}

/*Skills*/
.skills_container{
    row-gap: 2rem;
}
.skills_subtitle{
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    padding-left: 1rem;
}
.skills_name{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: 0.25rem 5rem;
    background-attachment: var(--white-color);
    border-radius: 0.25rem;
}
.skills_name:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}
.skills_img img{
    border-radius: 0.5rem;
}

/*Portfolio*/
.portfolio{
    background-color: var(--white-color);
}
.portfolio_container{
    justify-items: center;
    row-gap: 2rem;
}
.portfolio_img{
    position: relative;
    overflow: hidden;
}
.portfolio_img img{
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.portfolio_link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}
.portfolio_img:hover .portfolio_link{
    bottom: 0;
}

/*Contact*/
.contact_container{
    padding-left: 1rem;
    padding-right: 1rem;
    row-gap: 2rem;
}
.contact_subtitle{
    font-size: var(--normal-font-size);
    color: var(--first-color);
}
.contact_text{
    display: inline-block;
    margin-bottom: var(--mb-2);
}
.contact_inputs{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.contact_input{
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    border-radius: 0.5rem;
    margin-bottom: var(--mb-4);
}
.contact_button{
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.75rem 2.5rem;
    margin-left: auto;
    border-radius: 3rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}
.contact .icon{
    font-size: 1.5rem;
}
.contact_form .validate{
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
#submit-loader{
    display: none;
}
#message-warning{
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px 0;
}
  
#message-success{
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px 0;
}

/*Footer*/
.l-footer{
    background-color: var(--dark-color);
}
.footer_container{
    row-gap: 2rem;
}
.footer_title{
    color: var(--white-color);
    margin-bottom: var(--mb-2);
}
.footer_link{
    padding: 0.25rem 0;
}
.footer_link:hover{
    color: var(--first-color);
}
.footer_social{
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}
.footer_social:hover{
    color: var(--first-color);
}

/*Media Quaries*/
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav_list{
        display: flex;
    }
    .nav_item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }
    .nav_link{
        color: var(--white-color);
    }
    .nav_link:hover{
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }

    .home_container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home_img{
        height: 815px;
        width: 425px;
        right: 20%;
    }

    .about_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .about_img{
        width: 200px;
        height: 200px;
    }
    .about_img img{
        width: 265px;
    }

    .skills_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .portfolio_container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2, 1fr;
        column-gap: 2rem;
    }

    .contact_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .contact_form{
        float: inherit;
    }

    .footer_container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bg-grid{
        margin-right: auto;
        margin-left: auto;
    }
}

